.visits {
  display: flex;
  font-size: 0.8rem;
  animation: xScrolling 12s linear infinite;
  color: lightgreen;
}

@keyframes xScrolling {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@media (width >= 762px) {
  .visits {
    animation-duration: 18s;
  }
}
