.assistant {
  resize: vertical;
  resize: none;
  overflow-y: hidden;
}

.scroll {
  overflow-y: hidden;
  margin-right: 6px;
}

.scroll:hover {
  margin-right: 0;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  background: #33333369;
  width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #3c3b3b;
  border-radius: 6px;
  height: 180px;
}

@media (width < 762px) {
  .scroll {
    margin-right: 0;
    overflow-y: auto;
  }
}
