@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://unpkg.com/normalize.css") layer(normalize);
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@layer normalize;

:root {
  scroll-behavior: smooth;
  transition: background 0.4s ease-in-out;
}

:root {
  --background: #f5f5f5;
  --foreground: #222;
  --border-color: rgb(228 228 231 / 0.7);
  --span-color: #eee;
  --hero-gradient: transparent;
  --shadow: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #fafafa;
    --border-color: #27272a;
    --span-color: #222;
    --hero-gradient: linear-gradient(
      135deg,
      #a7c957 10%,
      #6a994e 50%,
      #386641 90%
    );
    --shadow: #444;
  }
}

html {
  color-scheme: light dark;
}

[data-theme="light"] {
  color-scheme: light only;
}

[data-theme="dark"] {
  color-scheme: dark only;
}

@font-face {
  font-family: "bogue-black";
  src: url("/Bogue-Serif-Font-Family/Demo_Fonts/Fontspring-DEMO-bogue-regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bogue-black";
  src: url("/Bogue-Serif-Font-Family/Demo_Fonts/Fontspring-DEMO-bogue-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bogue-black";
  src: url("/Bogue-Serif-Font-Family/Demo_Fonts/Fontspring-DEMO-bogue-extrabold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bogue-black";
  src: url("/Bogue-Serif-Font-Family/Demo_Fonts/Fontspring-DEMO-bogue-light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bogue-black";
  src: url("/Bogue-Serif-Font-Family/Demo_Fonts/Fontspring-DEMO-bogue-semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bogue-black";
  src: url("/Bogue-Serif-Font-Family/Demo_Fonts/Fontspring-DEMO-bogue-italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "bogue-black";
  src: url("/Bogue-Serif-Font-Family/Demo_Fonts/Fontspring-DEMO-bogue-bolditalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "bogue-black";
  src: url("/Bogue-Serif-Font-Family/Demo_Fonts/Fontspring-DEMO-bogue-lightitalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  transition: background 0.4s ease-in-out;
}

body::before {
  --size: 45px;
  --line: color-mix(in lch, canvasText, #ccc 70%);
  content: "";
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 10%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: 0;
}

html.dark {
  & body::before {
    --size: 45px;
    --line: color-mix(in lch, canvasText, #333 60%);
    content: "";
    opacity: 0.1;
    height: 280%;
    width: 100%;
    position: fixed;
    top: -25%;
    left: 0;
    z-index: 0;
    pointer-events: none;

    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    transform-style: flat;
  }

  /* & .effect-1::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    width: 400px;
    height: 150px;
    background: linear-gradient(to bottom, #3b82f6, #3b82f6);
    border-radius: 100%;
    filter: drop-shadow(0 0 190px) blur(190px) contrast(80%);
  }

  & .effect-1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    width: 400px;
    height: 150px;
    background: linear-gradient(to bottom, #3b82f6, #3b82f6);
    border-radius: 100%;
    filter: drop-shadow(0 0 190px) blur(190px) contrast(80%);
  } */

  .geo-info-title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% 0;
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-top: 80px solid #fde047;
    filter: blur(100px) drop-shadow(0 0 120px);
    rotate: 180deg;
  }

  @media (width <= 762px) {
    .effect-1::after,
    .effect-1::before {
      width: 360px;
    }
  }
}

.nav {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  animation-timeline: scroll();
  animation-range: 0 150px;
  animation-name: blur;
  animation-timing-function: linear both;
  z-index: 99;
}

@keyframes blur {
  to {
    backdrop-filter: blur(15px);
    box-shadow: 0 0 2px #1e293b;
  }
}

.toast-container {
  z-index: 9999 !important;
}

dialog::backdrop {
  background: rgba(40, 40, 40, 0.1);
  backdrop-filter: blur(5px);
  cursor: alias;
}

html.dark {
  & dialog {
    width: 50%;
    background: var(--background);
    border: none;
    outline: none;
    border-radius: 16px;
    border: 1px solid #222;
    color: var(--foreground);
    font-weight: 600;
    animation: 200ms slideEffect ease-in-out;

    & > div {
      display: flex;
      width: fit-content;
      margin: 0 auto;
      justify-content: center;
    }

    & p {
      text-align: center;
    }

    & span {
      padding: 2px 4px;
      background: var(--span-color);
      border-radius: 4px;
      border: 1px solid var(--border-color);
    }
  }
}

html {
  & dialog {
    width: 50%;
    background: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 16px;
    border: 1px solid #ddd;
    color: #111;
    font-weight: 600;
    animation: 300ms slideEffect ease-in-out;

    & > div {
      display: flex;
      margin: 0 auto;
      justify-content: center;
    }

    & p {
      text-align: center;
    }

    & span {
      padding: 2px 4px;
      background: #eee;
      border-radius: 4px;
      border: 1px solid #ddd;
    }
  }
}

.code-block {
  border-radius: 5px;
  overflow: hidden;
  text-rendering: optimizeLegibility;

  & pre {
    flex-wrap: wrap;
    overflow-x: auto;
    font-size: small;
    color: #6a994e;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    z-index: 99;
  }
}

#chat {
  animation: entrance 0.6s ease-in-out;
}

@keyframes entrance {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.neo-ai::after {
  content: "";
  position: fixed;
  bottom: 72px;
  right: 42px;
  width: 10px;
  height: 10px;
  rotate: -45deg;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  opacity: 0;
}

.neo-ai::before {
  content: "Hola soy Neo tu asistente IA";
  font-size: smaller;
  background: #ffffff;
  color: #111;
  border-radius: 999px;
  border: 1px solid #eee;
  padding-inline: 8px;
  padding-block: 4px;
  position: fixed;
  bottom: 76px;
  right: 26px;
  opacity: 0;
}

.neo-ai:hover::before,
.neo-ai:hover.neo-ai::after {
  opacity: 1;
}

#neo-ai:hover img {
  filter: drop-shadow(0 0 10px #222);
}
/*
# Donwload Card
*/

.img_card {
  -webkit-mask-image: linear-gradient(90deg, transparent 5%, black 40%),
    linear-gradient(270deg, transparent 5%, black 40%),
    linear-gradient(180deg, transparent 5%, black 40%),
    linear-gradient(0deg, transparent 5%, black 40%);
  -webkit-mask-composite: source-in;

  mask-image: linear-gradient(90deg, transparent 5%, black 40%),
    linear-gradient(270deg, transparent 5%, black 40%),
    linear-gradient(180deg, transparent 5%, black 40%),
    linear-gradient(0deg, transparent 5%, black 40%);
  mask-composite: intersect;
  opacity: 0.9;
  transition: all 0.8s ease;
  view-timeline-name: --card;
  view-timeline-axis: block;
  background: #232322;

  animation-timeline: --card;
  animation-name: vanish;

  animation-range: entry 50% cover 50%;
  animation-fill-mode: both;
}

.dark .img_card {
  opacity: 0.7;
}

.hero-animate {
  animation: scaleUp 0.9s ease-in;
}

@keyframes vanish {
  0% {
    opacity: 0.1;
    transform: translateY(60%);
    filter: contrast(115%);
  }
  1% {
    opacity: 0;
    transform: translateY(0%);
    filter: contrast(125%);
  }
}

@keyframes slideEffect {
  from {
    transform: translateY(500%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideOutEffect {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translateY(500%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Delicius Toast */
@keyframes toastyIn {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(10%);
  }
}

@keyframes toastyOut {
  from {
    transform: translate(0);
  }
  to {
    transform: translateY(-500%);
  }
}

/* Scroll-Driven Animations */
.fade-in {
  view-timeline-name: --fade;
  view-timeline-axis: block;
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.slide-in-left {
  view-timeline-name: --slide-left;
  view-timeline-axis: block;
  animation: slideInLeft linear;
  animation-timeline: view();
  animation-range: entry 5% cover 50%;
}

.slide-in-right {
  view-timeline-name: --slide-right;
  view-timeline-axis: block;
  animation: slideInRight linear;
  animation-timeline: view();
  animation-range: entry 5% cover 50%;
}

.scale-up {
  view-timeline-name: --scale;
  view-timeline-axis: block;
  animation: scaleUp linear;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.arrow {
  font-family: "Gloria Hallelujah", cursive;
  font-display: swap;
  font-weight: lighter;
  width: 100px;
  position: relative;
  translate: -15% 75%;
  margin-bottom: 2rem;
  transform-origin: 0 0;
  white-space: nowrap;
  rotate: -30deg;
  display: inline-block;
}
/* Progress Bar */
.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #e5e7eb;
  z-index: 100;
}

.progress-bar {
  height: 100%;
  background: #4f46e5;
  transform-origin: left;
  animation: progress auto linear;
  animation-timeline: scroll();
}
/*
# Mouse Trail Effect
*/
.mouse-trail {
  position: fixed;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fde047;
  pointer-events: none;
  filter: blur(6px);
  z-index: 3;
}

/*
* Image POE
*/
.img-dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -385% -180%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #addb42;
  z-index: 999;
  filter: drop-shadow(0 0 10px #b4ed31);
}
/*
* Loader (Newsletter)
*/
.card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.btn {
  backdrop-filter: blur(4px);
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(173, 168, 143, 0.841),
    transparent
  );
  transition: 0.6s;
}

.btn:hover {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.btn:hover::before {
  left: 100%;
}

.btn:active {
  box-shadow: none;
}

.loader-container {
  display: inline-flex;
  align-items: center;
}

.dot {
  opacity: 0;
  margin-left: 4px;
  animation: fade 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

.country:hover {
  text-shadow: 1px 3px 6px #444;
}

.leaflet-control-locate-btn,
.satellite-control-btn,
.map-control-btn {
  position: relative;
  background: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  border: 2px solid #c2bfba;
  justify-content: center;
  transition: background-color 0.2s;
}

.leaflet-control-locate-btn svg {
  width: 22px;
  height: 22px;
  stroke: #333;
  fill: #ea4335;
}

.leaflet-control-locate-btn:hover {
  background-color: #f4f4f4;
}

.leaflet-control .satellite-control-btn svg,
.map-control-btn svg {
  width: 22px;
  height: 22px;
  stroke: #333;
}

#marquee {
  display: flex;
  font-size: 0.8rem;
  animation: xScrolling 53s linear infinite;
  color: #777;
}

@keyframes xScrolling {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@keyframes progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@media (width < 762px) {
  body {
    overflow-x: hidden;
  }
  html {
    & dialog {
      width: 100%;
    }
  }
  html.dark {
    & dialog {
      width: 100%;
    }
  }
}

.shimmer-text {
  position: relative;
  display: inline-block;
  color: var(--foreground);
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #eeeeee 30%,
    #ffffff 50%,
    #eeeeee 70%,
    #ffffff 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.notebook {
  background: #fff;
  margin: 0 auto -100px;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 0 6px 3px #0000001a;
  background-image: linear-gradient(
      90deg,
      #b6d7e8,
      2px,
      transparent,
      2px,
      transparent
    ),
    linear-gradient(0, #d9eaf3, 1px, transparent, 2px, transparent);
  background-position: 4rem 0, 0 5px;
  background-size: 100% 3rem;
  padding-left: 6rem;
  z-index: 4;
  position: relative;
  transform: rotate(-2deg);
}

.notebook p {
  font-size: 0.8lh;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
