.h1 {
  background: linear-gradient(45deg, #4d9fe7, #5fc2f5, #4d9fe7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
  font-size: 4rem;
}
